* {
    box-sizing: border-box;
}

body {
    font-family: acuta, serif;
    font-weight: 400;
    font-style: normal;
    padding: 20px;
}

img {
    border-radius: 5px;
}

.card img {
    width: 100%;
}

hr {
    width: 50%;
}

.img-style {
    width: 250px;
    box-shadow: 10px 10px 2px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.container-fluid img {
    border-radius: 0;
}

/* Header/Blog Title */
.header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

.redirect_btn {
    text-decoration: none;
    padding: 2px 5px;
    background: #dddddd;
    color: black;
    border-radius: 3px;
    letter-spacing: 2px;
}

li {
    list-style: none;
    margin: 10px;
    color: #a6a6a6;
    text-transform: uppercase;
}

li p {
    display: inline;
    width: 50px;
    color: black;
    margin-left: 10px;
}

dt, dd {
    display: inline;
    margin: 0;
}

dl.table-display {
    width: 41.1em;
    margin: 2em 0;
    padding: 0;
    font-family: acuta, serif;
    letter-spacing: 2px;
}

.table-display dt {
    clear: right;
    float: right;
    width: 16em;
    padding-right: 12px;
    font-weight: bold;
    padding: 8px 0;
    text-transform: uppercase;
}

.table-display dd {
    color: #a6a6a6;
    clear: left;
    float: left;
    width: 24em;
    padding: 8px 0 8px 12px;
    text-transform: uppercase;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #020202 !important;
}

.model-tittle {
    text-align: center;
    font-size: 2em;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.fa-instagram {
    font-size: 30px !important;
}

.model-tittle a, h3 {
    font-size: 20px;
}

.navbar-main li a {
    font-family: acuta, serif;
    color: black;
    text-decoration-style: solid;
    font-size: 15px;
}

.intro_model {
    font-size: 2em;
    letter-spacing: 10px;
}

.navbar {
    margin: 0 40px 0 40px;
}

.navbar-main ul li a:hover {
    background: none;
}

.navbar-main a:hover {
    background: none;
}

.navbar-brand img {
    image-rendering: auto;
}

.nav-menu {
    margin-top: 20px;
    float: right;
}

.model_nom {
    color: black;
    text-align: right;
    font-size: 2em;
    text-decoration: none !important;
    margin-bottom: 10px;
}

.home_gallerie {
    margin-top: 20px;
}

.home_gallerie a {
    text-decoration: none !important;
}

.home_gallerie .col-md-4 {
    padding: 0 70px 0 70px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: auto;
    margin-bottom: 5em;
}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 1em !important;
    max-width: 450px !important;
    height: auto !important;
}

.center-portfolio {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.three_max:nth-child(3n+1) {
    clear: left;
}

.model {
    margin-bottom: 20px;
}

.model p {
    margin-top: 20%;
}

.margin-top-small {
    margin-top: 100px;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .image-model {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.container-img img {
    margin-left: auto;
    margin-right: auto;
    width: 6em
}

.text {
    background-color: rgba(75, 76, 78, 0.81);
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.middle a {
    text-decoration: none;
}

.card {
    transition: 0.3s;
    border-radius: 6px;
    margin: 10px;
    border: #0a0a0e solid 1px;
}

.pagination > .active > a {
    background-color: #a6a6a6 !important;
    border-color: #a6a6a6 !important;
    color: white !important;
}

.pagination > li > a {
    color: black !important;
}


/* PORTFOLIO*/


/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

.thumbnail {
    padding: 4px;
    line-height: 1.428571429;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto;
    display: block;
}

.column-image-space {
    float:left;
    width: 30%;
    margin:0 1%;}

.column-portfolio img {
    width: 30%;
    display:inline;
}

.column-portfolio img {
    opacity: 0.8;
    cursor: pointer;
}

.column-portfolio img:hover {
    opacity: 1;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.container-portfolio {
    position: relative;
}

.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

.block-center-portfolio {
    padding: 30px;
    text-align: center;
    background-color: #f3f3f3;
    border-radius: 5px;
}

.column-portfolio {
    width: 40%;
    align-content: center;
    margin-top: 10px;
    display: flex;
}

.text-center {
    text-align: center;
}

.sub-tittle {
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.mensuration-name {
    color: #a6a6a6;
    text-transform: uppercase;
    font-size: 15px;
    margin-right: 10px;
}

span .mensuration-label {
    color: #040404;
    text-transform: uppercase;
}

.model > div {
    margin-bottom: 20px;
}