@font-face {
    src: url("../font/gobold/gobold_regular.otf");
    font-family: "Gobold";
}

@font-face {
    src: url("../font/edition.ttf");
    font-family: "Edition";
}

@font-face {
    font-family: AdelleSAGE;
    font-weight: 400;
    font-style: normal;
    src: url(../font/new/adellesage-webfont.f0ed893a.woff2) format("woff2"), url(../font/new/adellesage-webfont.f130da59.woff) format("woff"), url(../font/new/adellesage-webfont.ed04ff62.eot) format("embedded-opentype"), url(../font/new/adellesage-webfont.3b8f19d0.ttf) format("truetype")
}

@font-face {
    font-family: AdelleSansSAGE;
    font-weight: 400;
    font-style: normal;
    src: url(../font/new/adellesanssage-webfont.5cb16a40.woff2) format("woff2"), url(../font/new/adellesanssage-webfont.b52cc537.woff) format("woff"), url(../font/new/adellesanssage-webfont.f226409f.eot) format("embedded-opentype"), url(../font/new/adellesanssage-webfont.a58f9930.ttf) format("truetype")
}

@font-face {
    font-family: AdelleSansSAGE;
    font-weight: 400;
    font-style: italic;
    src: url(../font/new/adellesanssage-italic-webfont.e9db4696.woff2) format("woff2"), url(../font/new/adellesanssage-italic-webfont.3a5dd348.woff) format("woff"), url(../font/new/adellesanssage-italic-webfont.c5c0002c.eot) format("embedded-opentype"), url(../font/new/adellesanssage-italic-webfont.54639e06.ttf) format("truetype")
}

@font-face {
    font-family: AdelleSansSAGE;
    font-weight: 700;
    font-style: normal;
    src: url(../font/new/adellesanssage-bold-webfont.7a82a0b8.woff2) format("woff2"), url(../font/new/adellesanssage-bold-webfont.550f18b1.woff) format("woff"), url(../font/new/adellesanssage-bold-webfont.71bf43f0.eot) format("embedded-opentype"), url(../font/new/adellesanssage-bold-webfont.49740eb0.ttf) format("truetype")
}

@font-face {
    font-family: AdelleSansSAGE;
    font-weight: 700;
    font-style: italic;
    src: url(../font/new/adellesanssage-bolditalic-webfont.7ff304c0.woff2) format("woff2"), url(../font/new/adellesanssage-bolditalic-webfont.49c449d0.woff) format("woff"), url(../font/new/adellesanssage-bolditalic-webfont.cdf49435.eot) format("embedded-opentype"), url(../font/new/adellesanssage-bolditalic-webfont.eeb5d18e.ttf) format("truetype")
}

@font-face {
    font-family: AdelleSansSAGE;
    font-weight: 100;
    font-style: italic;
    src: url(../font/new/adellesanssageth-italic-webfont.9f7d360f.woff2) format("woff2"), url(../font/new/adellesanssageth-italic-webfont.2c81e090.woff) format("woff"), url(../font/new/adellesanssageth-italic-webfont.3b0c29a0.eot) format("embedded-opentype"), url(../font/new/adellesanssageth-italic-webfont.089d3bbc.ttf) format("truetype")
}

@font-face {
    font-family: AdelleSansSAGE;
    font-weight: 300;
    font-style: normal;
    src: url(../font/new/adellesanssagelt-webfont.88880ba3.woff2) format("woff2"), url(../font/new/adellesanssagelt-webfont.7e78b5ef.woff) format("woff"), url(../font/new/adellesanssagelt-webfont.aa2fda96.eot) format("embedded-opentype"), url(../font/new/adellesanssagelt-webfont.8435a36b.ttf) format("truetype")
}

@font-face {
    font-family: AdelleSansSAGE;
    font-weight: 300;
    font-style: italic;
    src: url(../font/new/adellesanssagelt-italic-webfont.54e9a17d.woff2) format("woff2"), url(../font/new/adellesanssagelt-italic-webfont.586d6e41.woff) format("woff"), url(../font/new/adellesanssagelt-italic-webfont.1226ed3c.eot) format("embedded-opentype"), url(../font/new/adellesanssagelt-italic-webfont.b4574917.ttf) format("truetype")
}

html, body, .container {
    height: 100%;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #020202 !important;
}

.model-tittle {
    font-family: "Edition", sans-serif;
    text-align: center;
    font-size: 2em;
    letter-spacing: 10px;
}

.measurement_model {
    text-align: center;
    font-size: 25px;
    letter-spacing: 5px;
    font-family: AdelleSAGE, Arial, sans-serif;
}

h1, h2, h3, h4 {
    font-family: "Edition", sans-serif;
}

p, li, ul {
    font-family: "Edition", sans-serif;
}

.navbar-main li a {
    color: black;
    text-decoration-style: none;
    font-size: 2em;
}

.intro_model {
    font-size: 2em;
    letter-spacing: 10px;
}

.navbar {
    margin: 0 40px 0 40px;
}

.navbar-main ul li a:hover {
    background: none;
}

.navbar-main a:hover {
    background: none;
}

.navbar-brand img {
    image-rendering: -webkit-optimize-contrast;
}

.nav-menu {
    margin-top: 20px;
    float: right;
}

.model_nom {
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
}

.model_nom {
    color: black;
    text-align: right;
    font-size: 2em;
    text-decoration: none !important;
}

.home_gallerie {
    margin-top: 20px;
}

.home_gallerie a {

    text-decoration: none !important;
}

.home_gallerie .col-md-4 {
    padding: 0 70px 0 70px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: auto;
    margin-bottom: 5em;
}

.img-center {
    float: left;
}

.img-holder {
    padding: 0px;
}

.gallerie {
    margin-top: 20px;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.three_max:nth-child(3n+1) {
    clear: left;
}

.model {
    margin-bottom: 20px;
    /*height:calc(100% - 150px);*/
}

.model p {
    margin-top: 20%;
}

.margin-top-small {
    margin-top: 100px;
}

.image-model {
    opacity: 1;
    display: block;
    width: 25%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .image-model {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.text {
    background-color: rgba(75, 76, 78, 0.81);
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.middle a {
    text-decoration: none;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 6px;
    margin: 10px;
}






/* PORTFOLIO*/

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}



/***/